* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.App {
  margin: 2vh 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

aside {
  width: 17vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

aside > * {
  margin-bottom: 1vh;
}

aside .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

aside .buttons button {
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  margin: 1vh .5vw 1vh 0;
  background-color: #ECECEC;
  border-radius: 50%;
}

aside #message {
  color: gray;
  text-align: center;
}

aside .star-stuff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

aside .star-stuff #star, aside .star-stuff #count {
  padding: 4px 9px;
  border-radius: 4px;
  border: 1px solid #ECECEC;
  margin: 0 2%;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 86vw;
  margin-left: 2vw;
}

main .top-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .top-section > * {
  width: 50%;
}

main .top-section label {
  text-align: right;
}

main .top-section #order-selection {
  margin-left: 2%;
  border-radius: 4px;
  border: 1px solid #ECECEC;
  padding: .7% 0;
  width: 15%;
  outline: none;
}

main .listings {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(230px, 250px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(230px, 250px));
  -webkit-column-gap: 4vw;
          column-gap: 4vw;
  row-gap: 7vh;
  margin-top: 3vh;
  overflow-y: auto;
}

main .listings .item {
  text-align: center;
  position: relative;
}

main .listings .item img {
  width: 100%;
  height: 40vh;
  background-color: wheat;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 0;
     object-position: center 0;
}

main .listings .item::after {
  content: "Free shipping";
  position: absolute;
  top: 0;
  right: 0;
  background-color: #000;
  color: #fff;
  font-size: .9em;
  width: 40%;
  padding: 2% 1%;
}

main .listings .item .caption {
  margin: 2vh 0;
  padding: 0 3%;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

main .listings .item .bar {
  border-bottom: 3px solid yellow;
  margin: 0 auto;
  width: 10%;
}

main .listings .item .price {
  margin-top: 2vh;
  font-weight: bold;
  font-size: 1.2em;
}

main .listings .item .price small {
  font-size: .6em;
}

main .listings .item .discount {
  color: gray;
}

main .listings .item button {
  width: 100%;
  padding: 2vh 0;
  margin-top: 3vh;
  text-align: center;
  background-color: #000;
  color: #fff;
  border: none;
  outline: none;
}
/*# sourceMappingURL=styles.css.map */